*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-image: url("images/background.jpg");
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    width: 450px;
    height: 105px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 24px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-out;
}

.search_box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_box input{
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    width: 80%;
    font-size: 28px;
    padding-left: 36px;
    text-transform: capitalize;
}

.search_box input::placeholder{
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    text-transform: capitalize;
}

.search_box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #333333;
    background-color: rgba(211, 211, 211, 0.0);
    border-radius: 50%;
    font-size: 28px;
    transition: 0.6s ease;
}

.search_box button:hover{
    color: white;
    background-color: rgba(211, 211, 211, 0.2);
}

.search_box i{
    position: absolute;
    color: #333333;
    font-size: 32px;
}

.weather_box{
    text-align: center;
}

.location_not_found img{
    width: 100%;
    margin-top: 45px;
}

.weather_box .temparature{
    position: relative;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: -16px;
}

.weather_box .temparature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather_box .description{
    color: #333333;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather_details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.weather_details .humidity, .weather_details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather_details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather_details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather_details i{
    color: #333333;
    font-size: 24px;
    margin-right: 10px;
    /* margin-top: 6px;*/
}

.weather_details span{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.weather_details p{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.location_not_found{
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.location_not_found img{
    width: 70%;
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
}

.location_not_found p{
    color: #333333;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}

.weather_box .weather_details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}