.app {
  background-color: var(--background);
  min-height: 100vh;
}

.section {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}