.hero-container {
  text-align: center;
  max-width: 800px;
  animation: fadeIn 1s ease-in;
}

.hero-title {
  font-size: 5rem;
  color: var(--light_text);
  margin-bottom: 1rem;
  font-weight: 700;
}

.highlight {
  color: var(--accent_red);
}

.cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}