.hero-container {
  text-align: center;
  max-width: 800px;
  animation: fadeIn 1s ease-in;
  transition: opacity 0.3s ease;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 5rem;
  color: var(--light_text);
  margin-bottom: 1rem;
  font-weight: 700;
}

.highlight {
  color: var(--accent_red);
}

.cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}

.hero-header {
  animation: glow 5s linear infinite;
}

@keyframes glow {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: var(--accent_red);
    text-shadow: none;
  }
  0%,18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: var(--light_text);
    text-shadow: 
      0 0 2px var(--accent_red),
      0 0 4px var(--accent_red),
      0 0 6px var(--light_blue),
      0 0 8px var(--accent_red),
      0 0 10px var(--light_text);
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-links {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.social-link {
  color: var(--light_text);
  opacity: 0.8;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  opacity: 1;
  color: var(--accent_red);
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .social-links {
    left: 1rem;
    bottom: 1rem;
  }
  
  .hero-title {
    font-size: 3rem;
  }
}