:root {
    --background: #1A1A2E;
    --dark_blue: #16213E;
    --light_blue: #0F3460;
    --accent_red: #E94560;
    --light_text: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--light_text);
}

html {
  scroll-behavior: smooth;
}