@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    color: #fff;
    background-color: #FF5555; /* Red */
    background-image:
        radial-gradient(at 9% 89%, hsla(0, 100%, 50%, 1) 
        0px, transparent 50%), /* Red */
        radial-gradient(at 72% 6%, hsla(25, 100%, 50%, 1)
        0px, transparent 50%), /* Orange-Red */
        radial-gradient(at 24% 19%, hsla(60, 100%, 50%, 1)
        0px, transparent 50%), /* Yellow-Green */
        radial-gradient(at 65% 6%, hsla(120, 100%, 50%, 1)
        0px, transparent 50%), /* Green */
        radial-gradient(at 20% 98%, hsla(180, 100%, 50%, 1)
        0px, transparent 50%), /* Cyan-Green */
        radial-gradient(at 44% 9%, hsla(240, 100%, 50%, 1)
        0px, transparent 50%), /* Cyan-Blue */
        radial-gradient(at 10% 9%, hsla(300, 100%, 50%, 1)
        0px, transparent 50%); /* Magenta-Pink */
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}


.social-icons{
    
    height: 10px;
    font-size: 30px;
    
    display: inline-block;
}

.icon:hover{
    color: #FF5555;
}

.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

.image-wrapper{
    display: flex;
    /*margin-top: 5vh;*/
    position: relative;
}

.image-wrapper img{
    max-width: 500px;
}

.attrebute{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 12px;
}