@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.about-container {
    height: 100%;
    justify-items: center;
}

.rolling-header {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 120px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 32px;
    letter-spacing: -8px;
    pointer-events: none;
    z-index: 10;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%); /* Start from above */
    animation: rollIn 0.5s forwards;
}

.letter.exit {
    opacity: 1;
    transform: translateY(0);
    animation: rollOut 0.5s forwards;
}

.letter:nth-child(1) { animation-delay: 0.6s; }
.letter:nth-child(2) { animation-delay: 0.7s; }
.letter:nth-child(3) { animation-delay: 0.8s; }
.letter:nth-child(4) { animation-delay: 0.9s; }
.letter:nth-child(5) { animation-delay: 1s; }
.letter:nth-child(6) { animation-delay: 1.1s; }
.letter:nth-child(7) { animation-delay: 1.2s; }
.letter:nth-child(8) { animation-delay: 1.3s; }
.letter:nth-child(9) { animation-delay: 1.4s; }
.letter:nth-child(10) { animation-delay: 1.5s; }

@keyframes rollIn {
    from {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rollOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotateX(10deg);
    }
}

.bg1-image {
    width: 100%;
    margin-top: -206px;
    animation: scaleUp 0.6s ease-out;
    z-index: 0;
}

@keyframes scaleUp {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

.quality-container {
    width: 50vw;
    padding: 16px;
    background: #fff;
    border-radius: 16px;
    text-align: center;
    /* animation: fadeIn both;
    animation-timeline: view(50% 5%); */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10vw) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

h1 {
    font-size: 20px;
}

.bg2-image {
    width: 100%;
}

.value-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 16px;
}

.value-box {
    text-align: center;
    align-content: center;
    height: 30vh;
    width: 25vw;
    border: 1px solid #ddd;
    border-radius: 16px;
}

.value-icon {
    font-size: 40px;
    color: var(--primary-green)
}