.category-section {
    padding: 32px;
    justify-items: center;
}

.category-header {
    margin: 0;
    padding: 0 0 24px 0;
    font-size: 32px;
}

.category-container {
    display: flex;
    gap: 64px;
}

.category-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.image-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.category-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.category-text {
    font-weight: 500;
}

.category-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.category-text:hover {
    cursor: pointer;
}

.category-link:hover .category-image {
    transform: scale(1.05);
}

@media screen and (max-width: 992px) {
    .image-frame {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 768px) {
    .category-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 64px;
    }

    .image-frame {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .category-container {
        grid-template-columns: 1fr;
    }
    
}