.category-section {
    padding: 0;
    justify-items: center;
}

.category-header {
    margin-top: 16px;
    font-size: 32px;
}

.category-container {
    display: flex;
    gap: 40px;
}

.category-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.image-frame {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.category-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.category-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.category-text:hover {
    cursor: pointer;
}

.category-link:hover .category-image {
    transform: scale(1.05);
}