:root {
    --primary-green: rgb(184, 209, 145);
    --background-color: #eeeeee;
    --skeleton-color: #7a7a7a;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.4;
        transform: translateY(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}