.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background-color: var(--background-color);
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.store-logo {
    margin-top: 4px;
    height: 100px;
}

.header-links {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 450;
    padding: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 56px;
}

.profile-icon {
    height: 32px;
}

.shoppingcart-icon {
    width: 32px;
    height: 28px;
    margin-top: 4px;
}

.hamburger-btn {
    padding: 0;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .header-right {
        gap: 24px;
        padding: 24px;
    }

    .header-links {
        display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px 0;
    }

    .header-links.open {
        margin-top: 16px;
        display: flex;
    }

    .hamburger-btn {
        display: block;
        padding: 0;
        margin: 24px;
    }

    .searchbox-container {
        max-width: 60%;
    }
}