header {
    position: fixed;
    margin: 0px;
    height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #eee;
    z-index: 1000;
}

.store-logo {
    position: relative;
    margin-top: 4px;
    height: 10vh;
    padding-right: 16px;
}

nav {
    display: flex;
    gap: 16px;
    font-size: 16px;
}

.shoppingcart-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}