.header {
    position: fixed;
    margin: 0px;
    height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    z-index: 1000;
}

.store-logo {
    position: relative;
    margin-top: 4px;
    height: 10vh;
}

.header-links {
    display: flex;
    padding: 16px;
    gap: 24px;
    font-size: 16px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.shoppingcart-icon {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}