.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--background-color);
    z-index: 3000;
}

.header-left {
    display: flex;
    align-items: center;
}

.store-logo {
    margin-top: 4px;
    height: 100px;
}

.header-links {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 450;
    padding: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
    padding-right: 56px;
}

.profile-icon {
    height: 32px;
}

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.cart-icon {
    width: 32px;
    height: 28px;
    margin-top: 4px;
}

.cart-count {
    position: absolute;
    left: 20px;
    top: -4px;
    height: 18px;
    width: 18px;
    text-align: center;
    padding: 0 1px 2px 1px;
    background-color: #2BA766;
    color: #FFF;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}

.hamburger-btn {
    padding: 0;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

@media screen and (max-width: 992px) {
    .header-right {
        padding-right: 32px;
    }
}

@media screen and (max-width: 800px) {
    .header-right {
        gap: 24px;
        padding: 24px;
    }

    .header-links {
        display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px 0;
    }

    .header-links.open {
        margin-top: 16px;
        display: flex;
    }

    .hamburger-btn {
        display: block;
        padding: 0;
        margin: 24px;
    }

    .searchbox-container {
        max-width: 60%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 80px;
        gap: 8px;
    }

    .store-logo {
        height: 80px;
    }

    .header-right {
        gap: 12px;
        padding-right: 12px;
    }

    .profile-icon {
        height: 24px;
    }

    .shoppingcart-icon {
        width: 28px;
        height: 28px;
    }

    .hamburger-btn {
        font-size: 24px;
        margin: 12px;
    }

    .header-links.open {
        margin-top: -4px;
    }
}