.hero-wrapper {
    transition: background-color 400ms ease;
    height: 50vh;
    margin-top: 10vh;
    overflow: hidden;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: stretch;
}

.slider-text {
    font-size: 32px;
    font-weight: 600;
}

.link-button {
    font-size: 24px;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.image-wrapper {
    height: 50vh;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}