.hero-wrapper {
    transition: background-color 400ms ease;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    align-items: center;
}

.slider-text {
    font-size: 32px;
    font-weight: 600;
}

.link-button {
    font-size: 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}
