.hero-container {
    height: 60vh;
    margin-top: 10vh;
    display: flex;
    transition: background-color 400ms ease;
}

.slide-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    height: 100%;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-text {
    font-size: 40px;
    font-weight: 600;
}

.link-button {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.link-button:hover {
    transition: background-color 200ms ease-out;
    background-color: var(--primary-green);
}

.hero-right {
    height: 100%;
}