.prod-hero-container {
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}

.prod-slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: runLoop 40s linear infinite;
    z-index: 2;
}

@keyframes runLoop {
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ) )
        translateZ(425px);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-header {
    font-weight: 200;
    font-size: 120px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}