.image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.image-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
    transition: transform 4000ms ease-out;
}

.image-bg.zoomed {
    transform: scale(1);
}