.searchbox-container {
    position: relative;
    flex: 1;
    max-width: 50vw;
    justify-content: center;
}

.search-input-box {
    width: calc(100% - 50px);
    padding-left: 48px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}